@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.our-story {
  padding: 0 24px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 60px;
  h2 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    span {
      color: fn.get-color('dark-red');
    }
  }
  @include mx.media-query('lg') {
    padding: 0 32px;
    h2 {
      font-size: 24px;
    }
  }
}

.our-story-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1440px;
  gap: 30px;
}

.our-story-image {
  height: auto;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.our-story-text {
  background-color: fn.get-color('white');
  padding: 20px;
  border-radius: 30px;
  text-align: center;
  border: 1px solid rgba(fn.get-color('grey'), 0.2);
  p {
    font-size: 16px;
    span {
      color: fn.get-color('dark-red');
    }
  }
  @include mx.media-query('lg') {
    padding: 30px;
  }
}

.our-story-image,
.our-story-text {
  overflow: hidden;
  @include mx.media-query('lg') {
    max-width: 500px;
    height: 400px;
  }
}
