@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;
@use '../utils/variables' as var;

// Banner

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  padding: 20px;
  height: 620px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 60px;

  &.left {
    @include mx.media-query('md') {
      .banner-text {
        position: absolute;
        left: 60px;
      }
    }

    @include mx.media-query('lg') {
      .banner-text {
        left: 60px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &.right {
    @include mx.media-query('md') {
      .banner-text {
        position: absolute;
        right: 80px;
      }
    }
    @include mx.media-query('lg') {
      .banner-text {
        right: 80px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &.center {
    .banner-text {
      position: relative;
    }
  }
  @include mx.media-query('lg') {
    height: 480px;
    margin: 0 32px;
    margin-bottom: 60px;
  }
}

.banner-text {
  position: relative;
  z-index: 1;
  text-align: center;
  max-width: 60%;

  h1 {
    font-weight: 600;
    font-size: 24px;
    span {
      color: fn.get-color('dark-red');
    }
  }

  @include mx.media-query('lg') {
    max-width: 40%;
    //top: 50%;
    h1 {
      font-size: 28px;
    }
  }
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
  z-index: 0;
}
