@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;

.delete-stock-item-popup-container {
  width: 80%;
  max-height: 600px;
  max-width: 600px;
  padding: 60px 40px 40px;
  position: fixed;
  background-color: fn.get-color('light');
  border-radius: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;

  &.open {
    display: block;
  }

  &.closed {
    display: none;
  }
}
