@use '../utils/functions' as fn;
@use '../utils/mixins' as mx;
@use '../utils/variables' as var;

// Banner

.banner-home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  height: 620px;
  border-radius: 30px;
  overflow: hidden;
  margin-bottom: 60px;

  @include mx.media-query('lg') {
    height: 480px;
    margin: 0 32px;
    margin-bottom: 60px;
  }
}

.banner-home-text {
  z-index: 1;
  text-align: center;
  max-width: 70%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  h1 {
    font-size: 24px;
  }

  button {
    margin-top: 20px;
  }

  @include mx.media-query('lg') {
    max-width: 40%;
    h1 {
      font-size: 36px;
    }
  }
}

.banner-home-background-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('/assets/images/banner-home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

//Features

.features {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-around;
  background-color: fn.get-color('very-dark-red');
  color: white;
  padding: 50px;
  margin-bottom: 60px;

  @include mx.media-query('lg') {
    flex-direction: row;
    gap: 70px;
    margin-bottom: 116px;
  }
}

.feature {
  text-align: left;
  h3 {
    font-size: 18px;
    margin-bottom: 18px;
  }
  p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}

.icon {
  width: 64px;
  height: 64px;
  margin-bottom: 22px;
  background-color: rgba($color: fn.get-color('white'), $alpha: 0.15);
  border-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 33px;
  }
}

//ShortInfo

.short-info {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin-bottom: 60px;

  h1 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    span {
      color: fn.get-color('dark-red');
    }
  }
  .short-text {
    font-size: 16px;
    line-height: normal;
    padding: 0 20px;
    margin-bottom: 24px;
  }

  @include mx.media-query('lg') {
    padding: 32px;
    margin-bottom: 128px;
    h1 {
      font-size: 24px;
      margin-bottom: 28px;
    }
    .short-text {
      font-size: 20px;
      padding: 0 260px;
    }
  }
}

.short-info-images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 18px;
}

.short-info-image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  padding: 20px;
  background-color: fn.get-color('white');
  border: 2px solid fn.get-color('dark-red');
  border-radius: 30px;
  transition: background-color 0.3s ease, border 0.3s ease;
  cursor: pointer;
  &:hover,
  &:focus {
    background-color: fn.get-color('dark-red');
    border: 2px solid fn.get-color('white');
  }
  img {
    border-radius: 30px;
    max-width: 100%;
    max-height: 100%;
  }

  @include mx.media-query('lg') {
    width: 270px;
  }
}

//How Its made
.how-its-made {
  text-align: center;
  margin-bottom: 60px;

  h1 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    span {
      color: fn.get-color('dark-red');
    }
  }
  @include mx.media-query('lg') {
    margin-bottom: 128px;
    h1 {
      font-size: 24px;
      margin-bottom: 28px;
    }
  }
}

.how-its-made-content {
  display: flex;
  justify-content: center;
  padding: 0 20px;
  @include mx.media-query('lg') {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}

.video-box {
  position: relative;
  border-radius: 30px;
  width: 100%;
  padding-bottom: 56.25%; // 16:9 aspect ratio (9 / 16 = 0.5625 = 56.25%)
  background-color: fn.get-color('dark');
  overflow: hidden;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
  }
}

//Flavors

.flavors {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 20px;

  h1 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 28px;
    span {
      color: fn.get-color('dark-red');
    }
  }
  @include mx.media-query('lg') {
    padding: 0 32px;
    margin-bottom: 128px;
    h1 {
      font-size: 24px;
      margin-bottom: 28px;
    }
  }
}

.flavors-list {
  display: flex;
  flex-direction: row;
  gap: 18px;
  justify-content: center;
}

.flavor-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 270px;
  padding: 32px 20px;
  background-color: fn.get-color('white');
  border-radius: 10px;
  border: 1px solid rgba(fn.get-color('grey'), 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  h2 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .category {
    margin-bottom: 18px;
    p {
      font-size: 14px;
      color: fn.get-color('grey');
    }
  }
}

.price {
  padding: 8px 40px;
  background-color: rgba(fn.get-color('grey'), 0.05);
  border: 1px solid rgba(fn.get-color('grey'), 0.05);
  border-radius: 20px;
  p {
    color: fn.get-color('dark');
    font-size: 16px;
    font-weight: 500;
  }
}

//Best Sellers

.bestSellers {
  text-align: center;
  margin-bottom: 60px;
  padding: 0 20px;

  h1 {
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 20px;
    span {
      color: fn.get-color('dark-red');
    }
  }

  @include mx.media-query('lg') {
    margin-bottom: 128px;
    padding: 0 32px;
    h1 {
      font-size: 24px;
      margin-bottom: 28px;
    }
  }
}

.bestSellers-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 30px;
  justify-content: center;
  @include mx.media-query('lg') {
    flex-direction: row;
  }
}

.bestSeller {
  display: flex;
  border-radius: 10px;
  border: 1px solid transparent;
  border: 1px solid rgba(fn.get-color('grey'), 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

// Reviews

.testimonials {
  text-align: center;
  margin-bottom: 128px;
  padding: 0 20px;

  h1 {
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 28px;
    span {
      color: fn.get-color('dark-red');
    }
  }
  @include mx.media-query('lg') {
    padding: 0 32px;
  }
}

.testimonials-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  justify-content: center;
}

.testimonial-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 20px;
  background-color: fn.get-color('white');
  border-radius: 10px;
  border: 1px solid rgba(fn.get-color('grey'), 0.05);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;

  .testimonial-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h2 {
    margin-bottom: 5px;
    font-size: 24px;
  }
  .category {
    margin-bottom: 18px;
    p {
      font-size: 14px;
      color: fn.get-color('grey');
    }
  }
}
